body{
    margin: 0%;
}

/* HEADER */
header{
    height: 10vh;
    width: auto;
    background-color: rgb(83, 162, 252);
    background-image: url("img/pattern.png");
    background-size: contain;
}

#logo{
    max-height: 50%;
    padding-top: 5vh;
}

/* First Paragraph */
.first-paragraph{
    height: 30vh;
    margin-top: 0%;

}

.first-paragraph, h1{
    margin: 0%;
}

.first-paragraph > p{
    margin-top: 0%;
    color: grey;
}
#booleaner{
    color: blue;
}
#img-source{
    font-size: 10px;
    color: black;
}