body{
    margin: 0%;
}

/* HEADER */
header{
    height: 10vh;
    width: auto;
    background-color: rgb(83, 162, 252);
    background-image: url("img/pattern.png");
    background-size: contain;
}

#logo{
    max-height: 50%;
    padding-top: 5vh;
}

/* First Paragraph */
.first-paragraph{
    margin-top: 0%;
}

.first-paragraph, h1{
    margin: 0%;
}

.written-by{
    margin-top: 0%;
    color: grey;
}
#booleaner{
    color: blue;
}
#img-source{
    font-size: 10px;
}

#underlining{
    background-color: yellow;
}


/* Table */
table{
    width: 100%;
    height: auto;
    border-collapse: collapse;
}

thead{
    background-color: rgb(44, 170, 226);
    color: white;
    font-weight: bold;
}
td{
    width: 33%;
}

.coloured-row{
    background-color: rgb(179, 229, 241);
}